<aside class="col-md-4  text-center">
    <h1>Drop Price</h1>
    <p class="lead">The more buyers who buy, the lower the price drops</p>
    <img src="assets/images/sears_sofa.jpeg" alt="I'm a sears product">
    <h3>Sears Sofa</h3>
    <a class="btn btn-primary" href="#">Learn more...</a>
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>30% OFF Sofas &nbsp&nbsp&nbsp 102 Buyers</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12  text-center">
            <h3><timer countdown="10041" interval="1000">{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></h3>
        </div>
    </div>
</aside>